<div class="row" >
    <div class="small-12 column" >
        <h1 >Dashboard</h1 >
    </div >
</div >

<div class="row" >

    <div class="small-12  column" >
        <div class="panel radius" >
            <h2 >Willkommen beim Feedback Service</h2 >

            <p >
                Diverse Feedback Service News oder so...
            </p >
        </div >
    </div >

    <div class="small-6 column" >

        <div class="panel radius" >
            <h5 >Auf einen Blick</h5 >

            <div class="row" >
                <div class="small-6 column" >
                    <a href="#/surveys" >
                        <ng-pluralize count="surveys.length"
                                      when="{'0': 'keine Umfragen angelegt',
                                      'one': 'eine Umfrage',
                                      'other': '{} Umfragen'}">
                        </ng-pluralize></a >
                </div >
                <div class="small-6 column" >
                    <a href="#" >247 Teilnahmen</a >
                </div >
            </div >
        </div >

        <div class="panel radius" >
            <h5 >Aktivität</h5 >

            <div class="row" >
                <div class="small-12 column" >
                    <a href="#" >Crazy Umfrage (5)</a >
                </div >
                <div class="small-12 column" >
                    <a href="#" >Freaky Umfrage (2)</a >
                </div >
                <div class="small-12 column" >
                    <a href="#" >Queer Umfrage (27)</a >
                </div >
            </div >
        </div >

    </div >

    <div class="small-6 column" >

        <div class="panel radius">
            <h5 >Schneller Entwurf</h5 >
            <div class="row collapse">
                <div class="small-9 column">
                    <input type="text" placeholder="Umfragetitel" />
                </div>
                <div class="small-3 column">
                    <a href="#" class="button postfix" >neu</a >
                </div>
            </div>
        </div >

    </div >

</div >