<div class="row" >
    <div class="small-12 column" >
        <h1 >Login</h1 >
    </div >
</div >

<div class="row" >

    <div class="small-12  column" >
        <input type="email"
               ng-model="email" placeholder="E-Mail"
               ng-keydown="$event.which === 13 && login()"/>
        <input type="password"
               ng-model="password" placeholder="Passwort"
               ng-keydown="$event.which === 13 && login()"/>
        <button class="button" ng-click="login()">login</button>
    </div >

</div >