<div class="row" >
    <div class="small-12 column" >
        <h1>Surveys</h1>
    </div>
</div>

<div class="row" >
    <div class="small-12 column" >
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Created</th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveys track by $index">
                <td><a ng-href="#/surveys/edit/">{{ survey.name }}</a></td>
                <td><span class="author"> {{ survey.user }}</span></td>
                <td><span class="created">{{ survey.createdAt }}</span></td>
                <td><span class="expires">{{ survey.expires ? survey.expiresAt : 'never' }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>